@{
    ViewData["Title"] = "Items";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Items</title>
</head>
<body>
    <h1>ITEMS</h1>
    <p>this is items page</p>
</body>
</html>
