@{
    ViewData["Title"] = "Documentation";
}
<h1>@ViewData["Title"]</h1>

<p>this project conatain mainly two features <br> <hr>
    1- CRUD operations <br>
    2- role based authentication <br> <hr>
    the crud operations are done manually without scaffolding. <br>
    the role based authentication is done using scaffolding. <br>
    admin user have access to everything.<br>
    normal user have access to everything except [add new item, delete item, edit item].<br>
    guest user have access to [home, privacy] only.<br><hr>
    the project is using: <br>
    1- asp.net core <br>
    2- entity framework core <br>
    3- sql server <br> <hr>
    email confirmation didnt work yet <br>
    two factor authentication didnt work yet <br>
    forgot password didnt work yet <br> <hr>
    finally, sorry for the bad design, i am not a <b>designer</b>. <br>
</p>
